/*icon section*/
.iconDash{
	background: url('icons/dash.png') no-repeat;	
	width: 24px;
	height: 24px;
	display: inline-block !important;
	margin-right: 5px;
	vertical-align: middle;
	margin-bottom: 9px;
}

.iconSchedule{
	background: url('icons/buy.png') no-repeat;	
	width: 24px;
	height: 24px;
	display: inline-block !important;
	margin-right: 5px;
	vertical-align: middle;
	margin-bottom: 3px;
}
.iconProfile{
	background: url('icons/rent.png') no-repeat;	
	width: 24px;
	height: 24px;
	display: inline-block !important;
	margin-right: 5px;
	vertical-align: middle;
	margin-bottom: 7px;
}
.iconOut{
	background: url('icons/out.png') no-repeat;	
	width: 24px;
	height: 24px;
	display: inline-block !important;
	margin-right: 5px;
	vertical-align: middle;
	margin-bottom: 3px;
}
.mobile{
	background: url('icons/menu.png') no-repeat;	
	width: 24px;
	height: 24px;
	display: inline-block none;
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
}
.mobile:hover{
	-webkit-filter: brightness(30%);
}
.iconClose{
	background: url('icons/close.png') no-repeat;	
	width: 19px;
	height: 19px;
	float:right;
	margin-right: 10px;
	cursor: pointer;

}
.iconClose:hover{
	-webkit-filter: brightness(50%);
}